/* Index  */


/* Globals Html */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Verdana, sans-serif;
}
*, *:before, *:after {

  box-sizing: inherit;
}
body {
	padding: 0;
	margin: 0;
}
header{
	background-color: #3b3b3b;
	padding: 5px;
}
.img-logo{
	max-width: 1000px;
	margin-top: 3px;
	margin-left: 180px;
	width: 14%;
	height: 5.12rem;
}
.navegacion{
	max-width: 1000px;
	float: right;
	margin-top: 18px;
	margin-right: 165px;
}
.navegacion a {
	text-decoration: none;
	color: #fff;
	margin-right: 36px;
	font-size: 1.6rem;
	padding: 25px;
	border: 1px solid #3b3b3b;
}

.navegacion a:hover {
	border: 1px solid #fff;
}


/* ///////////////////////   Header   ///////////////////////  CARLOS*/ 

.header {
	width: 100%;
	background:url(../img/inicio/iluminada.jpg) no-repeat center center;
	background-size: cover; 
	height: 65rem;
	overflow: hidden;
}

.logo {
	float: left;

}

.logo img {
	height: 80px;
	margin-top: 10px;
	margin-left: 150px;
	width: 34%;

}

.overlay {
	height: 103px;
	background-color: rgba(10,10,12,0.8);



}

.header nav {

	overflow: hidden;
	float: right;
	margin-right: 52px;
	margin-top: -9px;

}
 
.header nav ul {
	list-style: none;
	margin: 0;
	
	
}
 
.header nav ul li {
	float: left;
	padding: 2rem;
	font-size: 2rem;
	font-size: 20px;
}
 
.header nav ul li a {
	display: block;
	padding:28px;
	color:#fff;
	text-decoration: none;
}

.header nav ul li a:hover {
	color:#F7F0D5;
	border: 1px solid #fff;
}


/*       /////////////////     Container        //////////////////////////          */


/* ////////////////////////////////  Categoria   //////////////////////////////////*/


.categoria {
	height: 40rem;

}




.title-categoria {
	text-align: center; 
	font-size: 3rem;
	font-size: 30px;
	color: #fff;
	border: 1px solid #d1e9ed;
	background-color: rgb(34,32,31); 
	overflow: hidden;
}

.title-categoria h1 {
	margin-top: 28px;
}

article img {
height: 30rem;
width: 49.94rem;

}

.top{
	width: 100%;
}

.bottom{
	width: 100%;
}
.jardin { 
	background: url(../img/inicio/Garden.jpg) no-repeat;
	background-size: cover;
	float: left;
	height: 30rem;
	width: 40%;
	

}

.piscina {
	background: url(../img/inicio/piscina.jpg) no-repeat;
	background-size: cover;
	float: left;
	height: 30rem;
	width: 40%;
	

}

.fiestas {
	background: url(../img/inicio/fiestas.jpg) no-repeat;
	background-size: cover;
	height: 30rem;
	width: 30%;
	
}

.cuarto {
	background: url(../img/inicio/casa.jpg) no-repeat;
	background-size: cover;
	height: 30rem;
	width: 30%;
	
}

.oficina {
	background: url(../img/inicio/oficina.jpg) no-repeat;
	background-size: cover;
	height: 30rem;
	width: 30%;
	
}

.casa {
	background: url(../img/inicio/luces.jpg) no-repeat;
	background-size: cover;
	height: 300px;
	width: 30%;
}

.flotar {
	float: left;

}

.hr {
	width: 59%;
	float: left;
	border: 2px solid #D1E9ED;
}

.categoria h2,h3 {
	font-size: 2.5rem;
	font-size: 25px;
	color: #fff;
	margin-top: 223px;
	float: left;
	margin-left: 47px;
}




article .overlay-dos{
	background-color: rgba(10,10,12,0.6);
	height: 300px;  
	display: none;

}

article .overlay-dos a{
	text-decoration: none;
	color: #D1E9ED;
}

article:hover .overlay-dos{
	display: block;
}

article:hover h3{
	display: none;
}


article:hover .hr{
	display: none;
}



/* ///////////////////////   proyecto  //////////////////////////////////////////////////////   */



.proyecto{
	width: 100%;
	height: 740px;
	overflow: hidden;

}

.elegir-proyecto{
	
	width: 100%;
	margin-left: 11px;
}

.proyecto-1{
	
	height: 140px;
	margin-top: 79px;
	float: left;
	margin-left: 214px;
	width: 24%;
}

.proyecto-1 aside{
	background: url(../img/inicio/eventopalcioloir.jpg) no-repeat center center;
	background-size: cover;
	height: 292px;
	width: 450px;
	max-width: 100%;
	

}

.proyecto-1 h2{
	font-size: 2rem;
	font-size: 20px;
}

.proyecto-1  p{
	font-size: 1.5rem;
	font-size: 15px;
	width: 470px;
	margin-left: 1px;


}

.proyecto-2{
	width: 16%;
	height: 140px;
	margin-top: 79px;
	float: left;
	margin-left: 51px;
}

.proyecto-2 aside{
	background: url(../img/inicio/hospital-moncorvo.jpeg) no-repeat center center;
	background-size: cover;
	height: 292px;
	width: 450px;
	
}

.proyecto-2 h2{
	font-size: 2rem;
	font-size: 20px;
}

.proyecto-2 p{
	font-size: 1.5rem;
	font-size: 15px;
	width: 470px;
	margin-left: 1px;
}

.proyecto-2 button{
	margin-top: 42px;
	margin-left: 177px;
	background-color: #D1E9ED;
	height: 44px;
	width: 110px;
	font-size: 1.6rem;
	font-size: 16px;
	border: 1px solid #91BFBB;
}

.proyecto-2 button:hover{
	background-color: #000;
	color:  #D1E9ED;
}

.proyecto-3{
	width: 23%;
	height: 140px;
	margin-top: 79px;
	float: left;
	margin-left: 213px;
}

.proyecto-3 aside{
	background: url(../img/inicio/salonboda.jpg) no-repeat center center;
	background-size: cover;
	height: 292px;
	width: 450px;
	max-width: 100%;
	
}

.proyecto-3 h2{
	font-size: 2rem;
	font-size: 20px;
}

.proyecto-3 p{
	font-size: 1.5rem;
	font-size: 15px;
	width: 470px;
	margin-left: 1px;
}


/*         ///////////////////// Noticias ////////////////////////////       */

.noticias{
	width: 100%;
	height: 740px;
	overflow: hidden;
}

.noticia-1{
	
	height: 140px;
	margin-top: 79px;
	float: left;
	margin-left: 214px;
	width: 24%;
}

.noticia-1 aside{
	background: url(../img/inicio/Gallowglassmontajeluces.jpg) no-repeat center center;
	background-size: cover;
	height: 292px;
	width: 450px;
	max-width: 100%;
	

}

.noticia-1 h2{
	font-size: 2rem;
	font-size: 20px;
}

.noticia-1 p{
	font-size: 1.5rem;
	font-size: 15px;
	width: 470px;
	margin-left: 1px;
}

.noticia-2{
	width: 16%;
	height: 140px;
	margin-top: 79px;
	float: left;
	margin-left: 51px;


}

.noticia-2 aside{
	background: url(../img/inicio/Gallowglassmontajeluces.jpg) no-repeat center center;
	background-size: cover;
	height: 292px;
	width: 450px;
	
	
	
}

.noticia-2 h2{
	font-size: 2rem;
	font-size: 20px;
}

.noticia-2 p{
	font-size: 1.5rem;
	font-size: 15px;
	width: 470px;
	margin-left: 1px;
}

.noticia-2 button{
	margin-top: 42px;
	margin-left: 184px;
	background-color: #D1E9ED;
	height: 44px;
	width: 110px;
	font-size: 1.6rem;
	font-size: 16px;
	border: 1px solid #91BFBB;
}

.noticia-3{
	width: 23%;
	height: 140px;
	margin-top: 79px;
	float: left;
	margin-left: 213px;
}

.noticia-3 aside{
	background: url(../img/inicio/Gallowglassmontajeluces.jpg) no-repeat center center;
	background-size: cover;
	height: 292px;
	width: 450px;
	max-width: 100%;
	
	
}

.noticia-3 h2{
	font-size: 2rem;
	font-size: 20px;
}

.noticia-3 p{
	font-size: 1.5rem;
	font-size: 15px;
	width: 470px;
	margin-left: 1px;
}

article .noti-a{
	background-color: rgba(10,10,12,0.6);
	height: 292px;
	width: 100%;
	float: left;
	display: none;
	color: #fff;
	text-align: center;
	font-size: 2rem;
	font-size: 20px;
	padding: 130px;
	text-decoration: none;
	
}

article:hover .noti-a{
	display: block;
	transition: all 1s ease;

}

 
/*///////////////////////////////////////         Contacto //////////////////////////////////////////////////////////////////////*/


.contacto {
	width: 100%;
	height: 600px;
	background: url(../img/inicio/Iluminacion.jpg) no-repeat center center;
	background-size: cover;
}

.contacto .overlay-inicio{
	background-color: rgba(10,10,12,0.2);
	height: 481px;
}


.contacto form{
	float: left;
	margin-left: 340px;
	margin-top: 60px;
}


.contacto input, textarea{
  background-color: #fff;
  border-radius: 3px;
  border: inset;
  opacity: 0.6;
  color: #000;

  margin-top: 12px;
}
input:focus {
  text-decoration: none;
}

.text{
	width: 169px;
	height: 40px;
	margin-left: 2px;
	margin-top: 12px;
}

.enviar-inicio{
	margin-top: 17px;
	margin-left: 81px;
	background-color: #D1E9ED;
	height: 44px;
	width: 110px;
	font-size: 1.6rem;
	font-size: 16px;
	border: 1px solid #91BFBB;

}













/*-------------------------Productos-----------------------     KIMBERLY*/
/*option*/
.categorias{
	max-width: 1000px;
	float: right;
}
.categorias li{
	font-size: 1.5rem;
	margin-top: -14px;
	margin-right: 234px;
	list-style: none;
}
.categorias:hover{
	display: block;
	position: absolute;
}
.sub-menu li{
	display: none;
	position: relative;
}
.categorias li a{
	text-decoration: none;
	color: #000;
}
hr{
	max-width: 957px;
	margin-top: 38px;
}
/* Lista de productos de jardin*/

.productos h2, p{

	max-width: 1000px;
	margin-left: 296px;
}
.productos p{
	font-size: 1.7rem;
	width: 28%;
	color: #797A7E;
}
.productos h2{
	font-size: 2.5rem;
	color: #8AB8B4;
}
.productos hr{
	margin-top: 69px;
}
.productos .jardin{
	float: right;
	width: 22%;
	height: 198px;
	margin-top: -146px;
	margin-right: 329px;
}
.productos .bloom{
	margin-top: -17rem;
	height: 219px;
}
.productos .oco{
	height: 202px;
	margin-top: -149px;
}
.productos .button{
	margin-left: 401px;
	font-size: 1.6rem;
	background-color: #cae2e6;
	border: 1px solid #8AB8B4;
	text-decoration: none;
	color: #000;
	padding: 12px 20px;
}
.ver_producto{
	display: none;
	float: right;
	margin-right: -296px;
	color: #CEE6EA;
	font-size: 1.8rem;
	text-decoration: none;
	margin-top: 14px;
	background-color: rgba(0,0,0,0.8);
	padding: 8px 115px 8px 116px;
}
.jardin:hover .ver_producto{
	display: block;
}  
.light{
	margin-bottom: 60px;
}
/*Falta hacer hover en ver mas y el menu de categorias*/

/*--------------------Productos pagina 2-----------------------------*/



/* ====================== Proyectos========================= GINNA */

/* ======================== imagenes proyecto =================*/

.imagenes-proyecto {
	height: 800px;
	max-width: 900px;
	margin: 0 auto;
}

.imagenes-proyecto h2 {
	text-align: center;
	font-size: 15px;
	color: #000;
}

.imagenes-proyecto h1 {

	text-align: center;
	font-size: 30px;
}

.izquierda .img-1 {

	background: url(../img/proyecto/casadelparque.jpg) no-repeat;
	background-size: cover;
	height: 237px;
	margin-top: 18px;
	
}

.img-1 span { 
	background-color: rgba(10,10,12,0.6);
	height: 237px;
	width: 100%;
	float: left;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 81px;
	display: none;
	letter-spacing: 1.5px;
}

.img-1:hover span{
	display: block;
}

.img-1 a{
   color: #91BFBB;
   font-size: 20px;
   text-align: center;
   text-decoration: none;
   padding: 50px;


}

.izquierda .img-2 {

	background: url(../img/proyecto/hospital-moncorvo.jpeg) no-repeat;
	background-size: cover;
	height: 237px;
	margin-top: 18px;
	
}

.img-2 span { 
	background-color: rgba(10,10,12,0.6);
	height: 237px;
	width: 100%;
	float: left;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 81px;
	display: none;
}

.img-2:hover span{
	display: block;
}

.img-2 a{
   color: #91BFBB;
   font-size: 20px;
   text-align: center;
   text-decoration: none;
   padding: 50px;

}

.izquierda .img-3 {

	background: url(../img/proyecto/restaurante_noche.jpg) no-repeat;
	background-size: cover;
	height: 237px;
	margin-top: 18px;
}

.img-3 span { 
	background-color: rgba(10,10,12,0.6);
	height: 237px;
	width: 100%;
	float: left;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 81px;
	display: none;
}

.img-3:hover span{
	display: block;
}

.img-3 a{
   color: #91BFBB;
   font-size: 20px;
   text-align: center;
   text-decoration: none;
   padding: 50px;

}
.izquierda h2 {
    color: #000;
    margin-top: 47px;

}

.izquierda {
	float: left;
    width: 45%;
    margin-top: 40px;
}

.derecha {
	float: right;
	width: 45%;
	margin-top: 40px;

}

.derecha h2 {
  color: #000;
  margin-top: 47px;
}

.derecha .img-4 {
	background: url(../img/proyecto/salonboda.jpg) no-repeat;
	background-size: cover;
	height: 237px;
	margin-top: 18px;
}

.img-4 span { 
	background-color: rgba(10,10,12,0.6);
	height: 237px;
	width: 100%;
	float: left;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 81px;
	display: none;
}

.img-4:hover span{
	display: block;
}

.img-4 a{
   color: #91BFBB;
   font-size: 20px;
   text-align: center;
   text-decoration: none;
   padding: 50px;

}

.derecha .img-5 {
	background: url(../img/proyecto/eventopalcioloir.jpg) no-repeat;
	background-size: cover;
	height: 237px;
	margin-top: 18px;
}

.img-5 span { 
	background-color: rgba(10,10,12,0.6);
	height: 237px;
	width: 100%;
	float: left;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 81px;
	display: none;
}

.img-5:hover span{
	display: block;
}

.img-5 a{
   color: #91BFBB;
   font-size: 20px;
   text-align: center;
   text-decoration: none;
   padding: 50px;

}

.derecha .img-6 {
	background: url(../img/proyecto/lounge-bares.jpg) no-repeat;
	background-size: cover;
	height: 237px;
	margin-top: 18px;
}

.img-6 span { 
	background-color: rgba(10,10,12,0.6);
	height: 237px;
	width: 100%;
	float: left;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 81px;
	display: none;
}

.img-6:hover span{
	display: block;
}

.img-6 a{
   color: #91BFBB;
   font-size: 20px;
   text-align: center;
   text-decoration: none;
   padding: 50px;

}

/* ======================== footer =================*/


.indicador {
	margin-top: 400px;
	text-align: center;
}

.indicador ul li {
  
  display: inline-block;

}
.indicador li a {
	color: #000;
  text-decoration: none;
  font-size: 20px;
  padding: 12px;

}

.indicador ul li:hover {
   border: 1px solid #000;

}

/* ////////////////////////////// Proyecto Unico ///////////////////////////////////// CARLOS    ////////////*/


.proyecto-uno {

	width: 100%;
	height:1010px;
	overflow: hidden;
}

.title-principal-proyecto {

	text-align: center;
	margin-top: 140px;
	font-size: 3.5rem;
	font-size: 35px;
	height: 110px;

}

.img-proyecto-uno{

	background: url(../img/proyecto/casadelparque.jpg) no-repeat center center;
	height: 400px;
	width: 100%;

}

.text-proyexto-uno{

	font-size: 2rem;
	font-size: 20px;
	width: 83rem;
	margin-left: 538px;
	margin-top: 49px;
	float: left;
}
















