/* Globals Html */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Verdana, sans-serif;
}
*, *:before, *:after {

  box-sizing: inherit;
}
body {
	padding: 0;
	margin: 0;
}
header{
	background-color: #3b3b3b;
	padding: 5px;
}
.img-logo{
	max-width: 1000px;
	margin-top: 3px;
	margin-left: 180px;
	width: 14%;
	height: 5.12rem;
}
.navegacion{
	max-width: 1000px;
	float: right;
	margin-top: 18px;
	margin-right: 165px;
}
.navegacion a{
	text-decoration: none;
	color: #fff;
	margin-right: 36px;
	font-size: 1.6rem;
	padding:7px;
}
.navegacion a:hover {
	border: 1px solid #fff;
}
/*-------------------------Productos-----------------------*/
/*option*/
.categorias{
	max-width: 1000px;
	float: right;
}
.categorias li{
	font-size: 1.5rem;
	margin-top: -14px;
	margin-right: 234px;
	list-style: none;
}
.categorias:hover{
	display: block;
	position: absolute;
}
.sub-menu li{
	display: none;
	position: relative;
}
.categorias li a{
	text-decoration: none;
	color: #000;
}
hr{
	max-width: 957px;
	margin-top: 38px;
}
/* Lista de productos de jardin*/

.productos h2, p{
	margin-left: 296px;
	max-width: 1000px;
}
.productos p{
	font-size: 1.7rem;
	width: 28%;
	color: #797A7E;
}
.productos h2{
	font-size: 2.5rem;
	color: #8AB8B4;
}
.productos hr{
	margin-top: 69px;
}
.productos .jardin{
	float: right;
	width: 22%;
	height: 198px;
	margin-top: -146px;
	margin-right: 329px;
}
.productos .bloom{
	margin-top: -17rem;
	height: 219px;
}
.productos .oco{
	height: 202px;
	margin-top: -149px;
}
.productos .button{
	margin-left: 401px;
	font-size: 1.6rem;
	background-color: #cae2e6;
	border: 1px solid #8AB8B4;
	text-decoration: none;
	color: #000;
	padding: 12px 20px;
}
.ver_producto{
	display: none;
	float: right;
	margin-right: -296px;
	color: #CEE6EA;
	font-size: 1.8rem;
	text-decoration: none;
	margin-top: 14px;
	background-color: rgba(0,0,0,0.8);
	padding: 8px 115px 8px 116px;
}
.jardin:hover .ver_producto{
	display: block;
}  
.light{
	margin-bottom: 60px;
}
/*Falta hacer hover en ver mas y el menu de categorias*/

/*--------------------Productos pagina 2-----------------------------*/

